ion-view
  ion-content
    section
      .row
        .col
          h1 Welcome!

          p Looking for the perfect car match for you?  Enter your current car and we'll compare that to others!  
          p Find who has the best overall value or just rank by MPG, Price or type.

      .row
        .col.flex-center
          button.btn.btn-primary.btn-wide(
            ui-sref="vin-entry"
          ) Compare your current car
        .col.flex-center
          button.btn.btn-red.btn-wide(
            transition-to="list.vehicles",
            animation="slide",
            direction="left"
          ) No thanks, just take me to the list
