bower_components/
node_modules/
.idea/
styleguide/
styleguide_config.md
_docs/
_coverage/
*.swp
npm-debug.log
.DS_Store


# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.wav
*.mp3
*.wma
*.ogg
*.ovg
*.mp4
*.m4a
*.ra
*.3gpp
*.3gp
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mp4
*.mng
*.asx
*.asf
*.wmv
*.avi
