//== Colors

$black:                 #000;

$blue:                  #00b2dd;

$brand-primary:         #00a657;
$brand-warning:         #f46767;
$brand-danger:          #e73316;

$gray-base:             #1a1a1a;
$gray-darkest:          #242427;
$gray-darker:           #323437;
$gray-dark:             #747474;
$gray:                  #8e8e93;
$gray-light:            #bcbcbc;
$gray-lighter:          #dcdcdc;
$gray-lightest:         #ececec;

$green-light:           #69be28;
$green-dark:            #00833e;

$magenta:               #ec008c;

$orange:                #f58220;

$purple:                #af3cf1;

$teal:                  #35b592;

$white:                 #fff;

$yellow:                #e0d416;


//== Typography

$font-family-sans-serif:  'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          13.5px;
$font-size-xxxx-large:    ceil(($font-size-base * 3.69)); // ~48px
$font-size-xxx-large:     ceil(($font-size-base * 3.07)); // ~40px
$font-size-xx-large:      ceil(($font-size-base * 2.3)); // ~30px
$font-size-x-large:       ceil(($font-size-base * 1.53)); // ~20px
$font-size-larger:        ceil(($font-size-base * 1.23)); // ~16px
$font-size-large:         ceil(($font-size-base * 1.07)); // ~14px
$font-size-small:         ceil(($font-size-base * 0.84)); // ~11px
$font-size-smaller:       ceil(($font-size-base * 0.7)); // ~9px;

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

//== Components

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;

$shadow-base: rgba(0, 0, 0, 0.25);
